{{ $featured_image := partial "functions/GetFeaturedImage.html" . }}
{{ if $featured_image }}
  {{/* Trimming the slash and adding absURL make sure the image works no matter where our site lives */}}
  <header class="cover bg-top w-100 h-100 fixed top-0" style="background-image: url('{{ $featured_image }}');">
    <div class="bg-black-60 vh-100">
      {{ partial "navigation.html" .}}
      <div class="flex-column flex tc-l pv4 pv7-l ph3 ph4-ns vh-90">
        {{ with .Title }}
        <h1 class="f2 f-subheadline-l fw2 white-90 mta mb0 lh-title">
          {{ . }}
        </h1>
        {{ end }}
        {{ with .Params.description }}
          <h2 class="fw1 f5 f3-l white-80 measure-wide-l center mt3">
            {{ . }}
          </h2>
        {{ end }}
      </div>
    </div>
  </header>
{{ else }}
  <header>
    <div class="pb3-m pb6-l bg-black">
      {{ partial "navigation.html" . }}
      <div class="tc-l pv3 ph3 ph4-ns">
        {{ with .Title }}
        <h1 class="f2 f-subheadline-l fw2 light-silver mb0 lh-title">
          {{ . }}
        </h1>
        {{ end }}
        {{ with .Params.description }}
          <h2 class="fw1 f5 f3-l white-80 measure-wide-l center lh-copy mt3 mb4">
            {{ . }}
          </h2>
        {{ end }}
      </div>
    </div>
  </header>
{{ end }}
