img.aspect-ratio--2x3 {
    aspect-ratio: 3/2;
    object-fit: cover;
  }
  
  /*img {
      aspect-ratio: auto;
  }
  
  .img {
      width: 320!important;
  }*/
  
  #gallery {
    text-align: center;
  }
  
  .pswp {
      --pswp-bg: #eee!important;
      /*--pswp-bg: #303030!important;*/
  }
  
  .pswp__item {
    opacity: 1;
  }
  
  .photo {
      margin-top: 80px;
      margin-bottom: 80px;
  }