<div id="gallery" class="pswp-gallery">
{{ $header := .Page.Resources.Get "header.jpg" }}
{{ with .Page.Resources.ByType "image" }}
    {{ range . }}
       {{ $desc := .Title }}
       {{ if not (eq  $header .) }}

        <a href="{{ .RelPermalink }}"
           data-pswp-width="{{ .Width }}"
           data-pswp-height="{{ .Height }}"
           target="_blank">
        {{ with .Resize "600x" }}

        <img class="lazyload photo" data-src="{{ .RelPermalink }}" width="600px" alt="{{ with .Exif }}{{ .Tags.UserComment | default $desc }}{{ else }}{{ $desc }}{{ end }}"/>

        {{ end }}

        </a>

       {{ end }}

    {{ end }}
{{ end }}
</div>

<script src="{{ .Site.BaseURL }}js/lazysizes.min.js" async></script>
<script type="module" async>

    import PhotoSwipeLightbox from '{{ .Site.BaseURL }}js/photoswipe-lightbox.esm.min.js';

    if (PhotoSwipeLightbox !== undefined && PhotoSwipeLightbox !== null) {
    
        const lightbox = new PhotoSwipeLightbox({
            gallery: '#gallery',
            children: 'a',
            pswpModule: () => import('{{ .Site.BaseURL }}js/photoswipe.esm.min.js')
        });
        lightbox.init();

    }

</script>
<link rel="stylesheet" href='{{ .Site.BaseURL }}css/photoswipe.css'>